<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="pragma" content="no-cache" />

    <link rel="stylesheet" href="/public/stylesheets/normalize.css">
    <link rel="stylesheet" href="/public/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="/public/stylesheets/othello.css">

  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

    <div id="board">
	    <div class="board-cell board-1-1"><div data-table-position="1-1" class="empty"></div></div>
	    <div class="board-cell board-1-2"><div data-table-position="1-2" class="empty"></div></div>
	    <div class="board-cell board-1-3"><div data-table-position="1-3" class="empty"></div></div>
	    <div class="board-cell board-1-4"><div data-table-position="1-4" class="empty"></div></div>
	    <div class="board-cell board-1-5"><div data-table-position="1-5" class="empty"></div></div>
	    <div class="board-cell board-1-6"><div data-table-position="1-6" class="empty"></div></div>
	    <div class="board-cell board-1-7"><div data-table-position="1-7" class="empty"></div></div>
	    <div class="board-cell board-1-8"><div data-table-position="1-8" class="empty"></div></div>
	    <div class="board-cell board-2-1"><div data-table-position="2-1" class="empty"></div></div>
	    <div class="board-cell board-2-2"><div data-table-position="2-2" class="empty"></div></div>
	    <div class="board-cell board-2-3"><div data-table-position="2-3" class="empty"></div></div>
	    <div class="board-cell board-2-4"><div data-table-position="2-4" class="empty"></div></div>
	    <div class="board-cell board-2-5"><div data-table-position="2-5" class="empty"></div></div>
	    <div class="board-cell board-2-6"><div data-table-position="2-6" class="empty"></div></div>
	    <div class="board-cell board-2-7"><div data-table-position="2-7" class="empty"></div></div>
	    <div class="board-cell board-2-8"><div data-table-position="2-8" class="empty"></div></div>
	    <div class="board-cell board-3-1"><div data-table-position="3-1" class="empty"></div></div>
	    <div class="board-cell board-3-2"><div data-table-position="3-2" class="empty"></div></div>
	    <div class="board-cell board-3-3"><div data-table-position="3-3" class="empty"></div></div>
	    <div class="board-cell board-3-4"><div data-table-position="3-4" class="empty"></div></div>
	    <div class="board-cell board-3-5"><div data-table-position="3-5" class="empty"></div></div>
	    <div class="board-cell board-3-6"><div data-table-position="3-6" class="empty"></div></div>
	    <div class="board-cell board-3-7"><div data-table-position="3-7" class="empty"></div></div>
	    <div class="board-cell board-3-8"><div data-table-position="3-8" class="empty"></div></div>
	    <div class="board-cell board-4-1"><div data-table-position="4-1" class="empty"></div></div>
	    <div class="board-cell board-4-2"><div data-table-position="4-2" class="empty"></div></div>
	    <div class="board-cell board-4-3"><div data-table-position="4-3" class="empty"></div></div>
	    <div class="board-cell board-4-4"><div data-table-position="4-4" class="white"></div></div>
	    <div class="board-cell board-4-5"><div data-table-position="4-5" class="black"></div></div>
	    <div class="board-cell board-4-6"><div data-table-position="4-6" class="empty"></div></div>
	    <div class="board-cell board-4-7"><div data-table-position="4-7" class="empty"></div></div>
	    <div class="board-cell board-4-8"><div data-table-position="4-8" class="empty"></div></div>
	    <div class="board-cell board-5-1"><div data-table-position="5-1" class="empty"></div></div>
	    <div class="board-cell board-5-2"><div data-table-position="5-2" class="empty"></div></div>
	    <div class="board-cell board-5-3"><div data-table-position="5-3" class="empty"></div></div>
	    <div class="board-cell board-5-4"><div data-table-position="5-4" class="black"></div></div>
	    <div class="board-cell board-5-5"><div data-table-position="5-5" class="white"></div></div>
	    <div class="board-cell board-5-6"><div data-table-position="5-6" class="empty"></div></div>
	    <div class="board-cell board-5-7"><div data-table-position="5-7" class="empty"></div></div>
	    <div class="board-cell board-5-8"><div data-table-position="5-8" class="empty"></div></div>
	    <div class="board-cell board-6-1"><div data-table-position="6-1" class="empty"></div></div>
	    <div class="board-cell board-6-2"><div data-table-position="6-2" class="empty"></div></div>
	    <div class="board-cell board-6-3"><div data-table-position="6-3" class="empty"></div></div>
	    <div class="board-cell board-6-4"><div data-table-position="6-4" class="empty"></div></div>
	    <div class="board-cell board-6-5"><div data-table-position="6-5" class="empty"></div></div>
	    <div class="board-cell board-6-6"><div data-table-position="6-6" class="empty"></div></div>
	    <div class="board-cell board-6-7"><div data-table-position="6-7" class="empty"></div></div>
	    <div class="board-cell board-6-8"><div data-table-position="6-8" class="empty"></div></div>
	    <div class="board-cell board-7-1"><div data-table-position="7-1" class="empty"></div></div>
	    <div class="board-cell board-7-2"><div data-table-position="7-2" class="empty"></div></div>
	    <div class="board-cell board-7-3"><div data-table-position="7-3" class="empty"></div></div>
	    <div class="board-cell board-7-4"><div data-table-position="7-4" class="empty"></div></div>
	    <div class="board-cell board-7-5"><div data-table-position="7-5" class="empty"></div></div>
	    <div class="board-cell board-7-6"><div data-table-position="7-6" class="empty"></div></div>
	    <div class="board-cell board-7-7"><div data-table-position="7-7" class="empty"></div></div>
	    <div class="board-cell board-7-8"><div data-table-position="7-8" class="empty"></div></div>
	    <div class="board-cell board-8-1"><div data-table-position="8-1" class="empty"></div></div>
	    <div class="board-cell board-8-2"><div data-table-position="8-2" class="empty"></div></div>
	    <div class="board-cell board-8-3"><div data-table-position="8-3" class="empty"></div></div>
	    <div class="board-cell board-8-4"><div data-table-position="8-4" class="empty"></div></div>
	    <div class="board-cell board-8-5"><div data-table-position="8-5" class="empty"></div></div>
	    <div class="board-cell board-8-6"><div data-table-position="8-6" class="empty"></div></div>
	    <div class="board-cell board-8-7"><div data-table-position="8-7" class="empty"></div></div>
	    <div class="board-cell board-8-8"><div data-table-position="8-8" class="empty"></div></div>
	</div>


    <script src="/public/javascripts/jquery-2.1.1.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="/public/javascripts/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="/public/javascripts/othello-board.js" type="text/javascript" charset="utf-8"></script>
    <script src="/public/javascripts/othello-ai.js" type="text/javascript" charset="utf-8"></script>
    <script src="/public/javascripts/othello-plugin-ai.js" type="text/javascript" charset="utf-8"></script>
    <script src="/public/javascripts/othello-game.js" type="text/javascript" charset="utf-8"></script>

  </body>
</html>
